@import url(http://fonts.googleapis.com/css?family=Arvo|Raleway);

body {
  color: purple;
  background: rgb(177,239,249);
  font-size: 16px;
  margin: 240px;
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Arvo', serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 40px;
}

address {
  text-align: center;
  padding: 0;
}

p {
  margin: 0;
}

nav {
  margin-top: 30px;
  text-align: center;
}

nav ul {
  padding: 8px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}

nav ul li {
display: inline-block;
margin-right: 16px;
}

ul li {
  padding-bottom: 8px;
}

a {
  color: rgb(32,126,155);
}

:link:hover {
  outline: dotted;
  padding: 2px;
}
