* {
color: black;
background: transparent;
font-size: 12pt;
font-family: serif;
}

@page {
margin: .5in;
}

h1, h2, h3, h4 {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 16pt;
}

address {
  text-align: center;
}

p {
  margin: 0;
}

nav {
  display: none;
}

a[href^="http://"]:after { content: " (" attr(href) ") "; }
